/* App.css

/* ---------------------------------------------------------- /*

These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.

# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

/* Variables
/* ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap");
:root {
  /* Colours */
  --color-primary: #3eefd8;
  --color-black: #0c0e1a;
  --color-base: #15171a;
  --color-secondary: #5b7a81;
  --color-border: #c7d5d8;
  --color-bg: #f5f5f5;
  --color-white: #f9f9f9;
  --color-body: #161824;
  --color-dark-shadow: #121424;

  /* Fonts */
  --font-sans-serif: "Montserrat", sans-serif;
  --font-serif: "Cardo", serif;
  --font-mono: "Source Code Pro", monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.6rem;
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;

  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/* Defaults
/* ---------------------------------------------------------- */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  background: var(--color-base);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: #8a8a94;
  font-size: 1.2rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: var(--color-body);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

::selection {
  text-shadow: none;
  background: var(--color-primary);
  color: #fff;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 1.8em 0 2.4em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-black);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1.5em 0;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  max-width: 100%;
}

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

blockquote {
  font-size: 1em;
  font-family: var(--font-serif);
  margin: 0.3em 0 1.8em;
  padding: 0.8em 1.6em 0.8em 1.6em;
  color: var(--color-white);
  border-left: var(--color-primary) 0.1em solid;
  background-color: rgba(194, 252, 247, 0.1);
}

blockquote p {
  margin: 0.8em 0;
  /* font-size: 1.2em; */
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--color-white);
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn {
  padding: 8px 12px;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.btn-dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn img {
  height: 1.6rem;
  width: auto;
  margin-right: 0.5em;
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 4vw;
}

.content {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.7em;
  /* margin-top: -250px; */
  position: relative;
}

.content-body {
  display: flex;
  flex-direction: column;
}

.post-full-content {
  max-width: 1120px;
  margin: 0 auto;
  background: var(--color-body);
}

.post-full-content strong {
  color: var(--color-white);
}

.post-feature-image {
  margin: 3em 0 3em 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  /* border-radius: 16px; */
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  font-family: var(--font-sans-serif);
}

.content-body h1 {
  margin: 1em 0 0.5em 0;
  font-size: 3.4rem;
  font-weight: 700;
}

.content-body p {
  /* margin: 1em 0 0.5em 0; */
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--font-sans-serif);
}
@media (max-width: 500px) {
  .content-body h1 {
    font-size: 2.8rem;
  }
  .post-feature-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.content-title {
  font-size: 6rem;
  font-family: var(--font-sans-serif);
}
.post-author {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.post-date::before {
  background: #fff;
  display: inline-block;
  height: 2px;
  margin-right: 15px;
  margin-left: 15px;
  width: 30px;
  content: "";
  vertical-align: middle;
}

@media (max-width: 500px) {
  .content-title {
    margin: 0.2em 0;
    font-size: 3.4rem;
  }
  .content {
    font-size: 1.8rem;
  }
}

.content-body h2 {
  margin: 0.8em 0 0.4em 0;
  font-size: 3.2rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h2 {
    font-size: 2.6rem;
  }
}

.content-body h3 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.8rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h3 {
    font-size: 2.2rem;
  }
}

.content-body h4 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h4 {
    font-size: 2.2rem;
  }
}

.content-body h5 {
  display: block;
  margin: 0.5em 0;
  padding: 1em 0 1.5em;
  border: 0;
  font-family: Georgia, serif;
  color: var(--color-primary);
  font-style: italic;
  font-size: 3.2rem;
  line-height: 1.35em;
  text-align: center;
}

.content-body h6 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2rem;
  font-weight: 700;
}

.content-body figure {
  margin: 0.4em 0 1.6em;
  font-size: 2.8rem;
  font-weight: 700;
}

.content-body pre {
  margin: 0.4em 0 1.8em;
  line-height: 1.4em;
  white-space: pre-wrap;
  padding: 20px;
  color: #fff;
  /* border-radius: 12px; */
}

/* Header
/* ---------------------------------------------------------- */

.site-head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  /* background: var(--color-base);
    background-position: center;
    background-size: cover; */
  /* height: 50vh; */
}

.site-skew-banner {
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-size: cover;
  /* transform: skewY(-6deg); */
  /* transform-origin: top left; */
  z-index: 0;
}

.site-nav-item {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
}

.site-nav-item:hover {
  text-decoration: none;
  opacity: 0.9;
  color: var(--color-primary);
}

.site-nav-icon {
  height: 15px;
  margin: -5px 0 0;
}

.site-logo {
  height: 35px;
  z-index: 100;
  position: relative;
}

.site-mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-mast-right {
  display: flex;
  align-items: center;
}

.site-mast-right .site-nav-item:last-child {
  padding-right: 0;
}

.site-banner {
  max-width: 80%;
  margin: 0 auto;
  padding: 10vw 0;
  text-align: center;
}

.site-banner-title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 4rem;
  line-height: 1.3em;
}

.site-banner-desc {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 2.4rem;
  line-height: 1.3em;
  opacity: 0.7;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.site-nav-left {
  margin: 0 20px 0 -10px;
}
.site-nav-right img {
  width: 20px;
  height: 20px;
}

.site-nav-button {
  display: inline-block;
  padding: 5px 10px;
  border: #fff 1px solid;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1em;
  /* border-radius: var(--radius); */
  opacity: 0.9;
}

.site-nav-button:hover {
  text-decoration: none;
  border: var(--color-primary) 1px solid;
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
  padding: 4vw 0;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 100;
  position: relative;
  margin-top: 60px;
}
.feature-block {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  z-index: 100;
  background-color: var(--color-body);
  border-radius: 16px;
  box-shadow: 0 8px 20px -5px var(--color-black);
  /* height: 50vh; */
}

.feature-card {
  color: inherit;
  text-decoration: none;
}

.feature-card:hover {
  text-decoration: none;
}
.feature-card-image {
  width: auto;
  height: auto;
  min-height: 300px;
}
.feature-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.feature-card-footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 10px 10px 0 0;
  color: inherit;
}
.feature-card-title {
  margin: 10px 0 10px 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 30px;
  color: var(--color-white);
}
.feature-author-block {
  margin-top: 20px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-white);
}

.post-card {
  color: inherit;
  text-decoration: none;
  background-color: var(--color-body);
  border-radius: 16px;
  box-shadow: 0 8px 20px -5px var(--color-black);

  /* border: var(--color-dark-shadow) 1px solid; */
  /* box-shadow: 2px 2px 2px -2px var(--color-dark-shadow); */
}

.post-card:hover {
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.post-card-excerpt,
.post-card-footer,
.post-card-title,
.post-card-tags {
  padding-left: 8px;
  padding-right: 8px;
}

.post-card-tags {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  line-height: 1.15em;
  color: var(--color-primary);
  text-transform: uppercase;
  padding-top: 8px;
}

.post-card-title {
  margin: 0 0 10px 0;
}

.post-card-excerpt {
  font-size: 1.6rem;
  line-height: 1.55em;
}

.post-card-image {
  margin: 0 0 10px 0;
  width: auto;
  height: 200px;
  border-radius: 10px 10px 0 0;
  background: var(--color-black) no-repeat center center;
  background-size: cover;
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  color: var(--color-white);
  padding-bottom: 8px;
}

.post-card-footer-left {
  display: flex;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  flex-direction: column;
}

.post-card-avatar {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 0;
  border-radius: 100%;
  border: var(--color-primary) 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card-avatar .author-profile-image {
  display: block;
  width: 30px;
  height: 30px;
  background: var(--color-body);
  border-radius: 100%;
  object-fit: cover;
}

.post-card-avatar .default-avatar {
  width: 26px;
}

@media (max-width: 980px) {
  .post-feed {
    grid-template-columns: 1fr 1fr;
  }
  .feature-block {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 680px) {
  .post-feed {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .feature-block {
    grid-template-columns: 1fr;
  }
  .feature-card-image {
    min-height: 0;
  }
}

@media (max-width: 500px) {
  .feature-card-title {
    font-size: 1.8rem;
  }
}

/* Tag Box
/* ---------------------------------------------------------- */

.tags-container {
  /* background-color: var(--color-black); */
  padding: 10px 0px;
  /* box-shadow: 0 8px 20px -5px var(--color-black); */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.tags-container-right {
  justify-self: end;
}
/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4vw;
}

.author-header h1 {
  margin: 0 0 1rem 0;
}

.author-header p {
  margin: 0;
  color: var(--color-secondary);
  font-size: 2.2rem;
  line-height: 1.3em;
}

.author-header-image {
  flex: 0 0 auto;
  margin: 0 0 0 4vw;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
}

.author-header-meta {
  display: flex;
  margin: 1rem 0 0 0;
}

.author-header-item {
  display: block;
  padding: 2px 10px;
}

.author-header-item:first-child {
  padding-left: 0;
}

@media (max-width: 500px) {
  .author-header {
    border-bottom: var(--color-bg) 1px solid;
    padding-bottom: 4vw;
  }
  .author-header p {
    font-size: 1.7rem;
  }
  .author-header-image {
    height: 80px;
    width: 80px;
  }
}

/* Pagination
/* ---------------------------------------------------------- */

.pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4vw 0 0;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  border: var(--color-border) 1px solid;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1em;
  border-radius: var(--radius);
}

.pagination-location {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  color: var(--color-secondary);
  font-size: 1.3rem;
}
/* subscribe box
/* ---------------------------------------------------------- */

.subscribe-box {
  height: 200px;
  width: 100%;
  text-align: center;
}

.subscribe-input {
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  width: 300px;
  background-color: var(--color-dark-shadow);
  border: none;
}

/* Footer
/* ---------------------------------------------------------- */

.site-foot {
  padding: 20px 0 40px 0;
  color: inherit;
  font-size: 1.8rem;
  background: var(--color-body);
}

.site-foot-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-foot-nav a {
  color: var(--color-primary);
}

.site-foot-nav a:hover {
  text-decoration: none;
}

.site-foot-nav-right a {
  display: inline-block;
  padding: 2px 5px;
}

.site-foot-nav-right a:last-child {
  padding-right: 0;
}

.social-icons {
  margin: 0px 8px;
  width: 30px;
  height: 30px;
}
/*  --------------   code for code block ----------------- */
.custom-filename-container {
  display: inline-flex !important;
  align-items: center;
}
.custom-filename {
  font-family: var(--font-sans-serif);
  display: "row";
  background-color: var(--color-black);
  padding: 0.8em 1em 0.8em 1em;
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0.2em;
  border-bottom: 1px var(--color-primary) solid;
  /* max-width: 200px; */
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--color-primary);
  /* text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3; */
  background: none;
  font-size: inherit;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-family: var(--font-mono);
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-webkit-scrollbar {
  background-color: var(--color-black);
  width: 5px !important;
}

pre[class*="language-"]::-webkit-scrollbar-track {
  background-color: var(--color-black);
  width: 5px !important;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: var(--color-body);
  border-radius: 16px;
  border: 1px solid var(--color-primary);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0 1em 1em 1em;
  margin: 0.5em 0 1em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #0c0e1a !important;
  box-shadow: 0 4px 20px -10px var(--color-black);
  /* background-image: linear-gradient(to bottom, #2a2139 75%, #34294f); */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

/* style for language highlight */
/* pre[class*="language-"]::before {
  border-radius: 0 0 4px 4px;
  padding: 0.25rem 0.5rem;
  text-align: right;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: #000;
}

pre[class~="language-js"]::before,
pre[class~="language-javascript"]::before {
  content: "js";
  background: #f7df1e;
}
pre[class~="language-jsx"]::before {
  content: "jsx";
  background: #61dafb;
}
pre[class~="language-typescript"]::before,
pre[class~="language-ts"]::before {
  content: "ts";
  background: #294e80;
  color: #fff;
}
pre[class~="language-tsx"]::before {
  content: "tsx";
  background: #294e80;
  color: #fff;
}
pre[class~="language-graphql"]::before {
  content: "GraphQL";
  background: #e10098;
  color: #fff;
}
pre[class~="language-scss"]::before {
  content: "scss";
  background: #e10098;
  color: #fff;
}
pre[class~="language-html"]::before {
  content: "html";
  background: #005a9c;
  color: #fff;
}
pre[class~="language-css"]::before {
  content: "css";
  background: #ff9800;
  color: #fff;
}
pre[class~="language-mdx"]::before {
  content: "mdx";
  background: #f9ac00;
  color: #fff;
}
pre[class~="language-shell"]::before {
  content: "shell";
}
pre[class~="language-sh"]::before {
  content: "sh";
}
pre[class~="language-bash"]::before {
  content: "bash";
}
pre[class~="language-yaml"]::before,
pre[class~="language-yml"]::before {
  content: "yaml";
}
pre[class~="language-markdown"]::before {
  content: "md";
}
pre[class~="language-json"]::before,
pre[class~="language-json5"]::before {
  content: "json";
  background: linen;
}
pre[class~="language-diff"]::before {
  content: "diff";
  background: #e6ffed;
}
pre[class~="language-text"]::before {
  content: "text";
  background: #fff;
}
pre[class~="language-flow"]::before {
  content: "flow";
  background: #e8bd36;
} */

/*  --------------   feature card ----------------- */

body::-webkit-scrollbar {
  background-color: var(--color-black);
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 16px;
  /* border: 1px solid var(--color-white); */
}
